<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LBLanguage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LanguageChangeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A38343E1935C6BD00061F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A38345F1935C6BD00061F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD11A3219A4A454009ADEFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD11A3F19A4A454009ADEFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD11A5919A4A530009ADEFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
